################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultipleInterfaces/.vs/MultipleInterfaces/v15
/MultipleInterfaces/bin/Debug
/MultipleInterfaces/obj/Debug
/AdapterSample/.vs/AdapterSample/v15
/AdapterSample/obj/Debug
